<%= form_for @patient do |f| %>
<p>
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name, :placeholder => "Last Name, First Name" %>
</p>

<p>
    <%= f.label :dob, 'Date of Birth' %><br>
    <%= f.text_field :dob, :placeholder => "YYYY-MM-DD" %>
</p>

<p>
    <%= f.label :mrn, 'Medical Record Number' %><br>
    <%= f.text_field :mrn, :placeholder => "XXX-XX-XX" %>
</p>

<p>
    <%= f.label :email, 'Email' %><br>
    <%= f.text_field :email, :placeholder => "i.e. username@email.com" %>
</p>

<p>
    <%= f.submit  %>
<% end %>
</p>

