<div id="sidebar" class="col-xs-3">
  <ul class="nav nav-sidebar">
    <li class="active">
    <ul class="nav nav-sidebar">
    <br>
    <li><%= link_to "Create New Patient", new_patient_path %></li>
    <%= form_tag patients_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
</div>


<div id="content" class="col-xs-8 col-xs-offset-1">
  <h2 class="sub-header">Listing All Patients</h2>
      <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Medical Record Number</th>
                <th>Email Address</th>
              </tr>
            </thead>
            <tbody>
              <% @patients.each do |patient| %>
              <tr class="patient">
                <td><%= patient.name %></td>
                <td><%= patient.dob %></td>
                <td><%= patient.mrn %></td>
                <td><%= patient.email %></td>
                <td><%= link_to "Scheduled Appointments", patient_path(patient.id) %></td>
              </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


