<h1><%= @patient.name %></h1>
<ul>
<li><%= @patient.dob %></li>
<li><%= @patient.mrn %></li>
<li><%= @patient.email %></li>
</ul>


Appointments
<% @appointments.each do |appointment| %>
  <div><%= "Date: #{appointment.date}, " %><%= "Time: " + appointment.time %><%= ", Provider: " + appointment.provider_name %></div>

<%= link_to 'Edit Appointment', edit_patient_appointment_path(@patient, appointment) %>
<%= link_to 'Show Appointment Details', patient_appointment_path(@patient, appointment) %>
<% end %>

<%= link_to "Edit Patient information" , edit_patient_path(@patient) %>
<%= link_to "List of Patients" , patients_path(@patient) %>
<%= link_to "New Appointment" , new_patient_appointment_path(@patient) %>
