  <div id="sidebar" class="col-xs-3">


  <h1><%= @patient.name %></h1>
  <div class='patient_info'>
  <ul>
  <li><%= @patient.dob %></li>
  <li><%= @patient.mrn %></li>
  <li><%= @patient.email %></li>
  </ul>
  </div>
      <ul class="nav nav-sidebar">
        <li class="active">
      <ul class="nav nav-sidebar">
        <% if can? :edit, @patient %>
        <li><%= link_to "Edit Patient information" , edit_patient_path(@patient) %></li>
        <% end %>
         <% if can? :index, @patient %>
        <li><%= link_to "List of Patients" , patients_path(@patient) %></li>
        <% end %>
    </div>

<div id="content" class="col-xs-8">
<h2 class="sub-header">Appointments</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Provider Name</th>
                </tr>
              </thead>
              <tbody>
                <% @appointments.each do |appointment| %>
                <tr>
                  <td><%= appointment.date %></td>
                  <td><%= appointment.time %></td>
                  <td><%= appointment.provider_name %></td>
                  <td><%= link_to 'Show Appointment Details', patient_appointment_path(@patient, appointment) %></td>
                   <% if can? :edit, @appointment %>
                  <td><%= link_to 'Edit Appointment', edit_patient_appointment_path(@patient, appointment) %></td>
                  <% end %>
                   </tr>
                  <% end %>
              </tbody>
            </table>
                <% if @appointments.count == 0 %>
                <%= "There are no scheduled appointments" %>
                <% end %><br>
             <% if can? :new, @appointment %>
            <%= link_to "New Appointment" , new_patient_appointment_path(@patient) %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class= "col-xs-12">
    <p>Created by Helen Thi | WDI 2015</p>
    </div>


