<%= form_for [@patient, @appointment] do |f| %>
  <p>
    <%= f.label :date, 'Date' %>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :time, 'Time' %>
    <%= f.text_field :time %>
  </p>

  <p>
    <%= f.label :provider_name, 'Provider' %>
    <%= f.text_field :provider_name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 <% end %>
