
<h1> Add a New Detail </h1>
<%= form_for [@appointment, @appointment.details.build] do |f| %>
  <p>
    <%= f.label "Assessment" %><br>
    <%= f.text_field :assessments, :placeholder => "i.e. PE, Vitals, ECGs..." %>
  </p>

  <p>
    <%= f.label "Duration" %><br>
    <%= f.text_field :duration, :placeholder => "i.e. 5.5hrs"  %>
  </p>

  <p>
    <%= f.label "Additional Notes" %><br>
    <%= f.text_field :add_notes, :placeholder => "i.e. fasting" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to All Appointments', patient_path(@patient) %>
