<%= form_for [@appointment, @appointment.details.build] do |f| %>
  <p>
    <%= f.label "Add Assessment" %>
    <%= f.text_field :assessments %>
  </p>

  <p>
    <%= f.label "Add Duration" %>
    <%= f.text_field :duration %>
  </p>

  <p>
    <%= f.label "Add Additional Notes" %>
    <%= f.text_field :add_notes %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to All Appointments', patient_path(@patient) %>
